<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>
<body>
    <a href="/user/logout">logout</a>
        <%- include ./partials/navbar.ejs %>
    <h1>dashboard khusus user yg sudah logged in</h1>
    <h1>Username:</h1>
    <%=dataUser.dataValues.username%>
    <h1>Email:</h1>
    <%=dataUser.dataValues.email%>
    <h1>Balance:</h1>
    <%=dataUser.dataValues.balance%>

    <a href="/user/balance/<%=dataUser.dataValues.id%>"> Top Up Balance</a>

</body>
</html>